<a href="https://colab.research.google.com/github/PRARTHANA-G/DataAnalytics-SalesDataAnalysis/blob/main/SalesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/Data/transaction.csv')
seasons = pd.read_csv('/content/Data/value_inc_seasons.csv')

In [ ]:
data.describe()

       UserId;TransactionId;Year;Month;Day;Time;ItemCode;ItemDescription;NumberOfItemsPurchased;CostPerItem;SellingPricePerItem;Country;ClientKeywords
count                                                7157
unique                                                  4
top                                    '2-5 Year Client']
freq                                                 3501

In [ ]:
data = pd.read_csv('/content/Data/transaction.csv',sep=';')

In [ ]:
data.describe()

,UserId,TransactionId,Year,Day,ItemCode,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem
count,7157.000000,7.157000e+03,7157.000000,7157.000000,7.157000e+03,7157.000000,7157.000000,7157.000000
mean,242895.723208,6.161401e+06,2018.307671,15.904429,6.540275e+05,29.031298,6.801232,9.472366
std,141623.199145,1.476304e+05,0.853634,8.592350,4.497542e+05,107.103325,93.214840,110.807754
min,-1.000000,5.900070e+06,2018.000000,1.000000,-1.000000e+00,-4530.000000,0.000000,0.000000
25%,260442.000000,6.030134e+06,2018.000000,9.000000,4.608030e+05,3.000000,1.730000,2.250000
50%,302589.000000,6.169812e+06,2018.000000,16.000000,4.752720e+05,9.000000,2.900000,4.100000
75%,342867.000000,6.291340e+06,2019.000000,23.000000,4.883340e+05,36.000000,5.700000,8.210000
max,383943.000000,6.397435e+06,2028.000000,31.000000,1.894494e+06,3060.000000,6257.260000,6882.990000

#Summary of the data

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UserId                  7157 non-null   int64
 1   TransactionId           7157 non-null   int64
 2   Year                    7157 non-null   int64
 3   Month                   7157 non-null   object
 4   Day                     7157 non-null   int64
 5   Time                    7157 non-null   object
 6   ItemCode                7157 non-null   int64
 7   ItemDescription         7142 non-null   object
 8   NumberOfItemsPurchased  7157 non-null   int64
 9   CostPerItem             7157 non-null   float64
 10  SellingPricePerItem     7157 non-null   float64
 11  Country                 7157 non-null   object
 12  ClientKeywords          7157 non-null   object
dtypes: float64(2), int64(6), object(5)
memory usage: 727.0+ KB

#Cleaning

In [ ]:
CostPerItem = 11.73

In [ ]:
SellingPricePerItem=21.11

In [ ]:
numberPurchased = 6

In [ ]:
ProfitPerItem = SellingPricePerItem-CostPerItem
ProfitPerItem
ProfitPerTrans = numberPurchased*ProfitPerItem

In [ ]:
CostPerItem = data['CostPerItem']
CostPerItem

0       11.73
1        3.52
2        0.90
3        1.73
4        3.40
        ...
7152     5.70
7153     3.52
7154     6.84
7155     0.27
7156     4.08
Name: CostPerItem, Length: 7157, dtype: float64

In [ ]:
numberPurchased = data['NumberOfItemsPurchased']
numberPurchased

0         6
1         3
2        72
3         3
4         3
       ...
7152      3
7153    750
7154     12
7155    432
7156      6
Name: NumberOfItemsPurchased, Length: 7157, dtype: int64

In [ ]:
CostPerTransaction = numberPurchased*CostPerItem 
CostPerTransaction

0         70.38
1         10.56
2         64.80
3          5.19
4         10.20
         ...
7152      17.10
7153    2640.00
7154      82.08
7155     116.64
7156      24.48
Length: 7157, dtype: float64

In [ ]:
#add new col to df
data['CostPerTransaction'] = CostPerTransaction
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UserId                  7157 non-null   int64
 1   TransactionId           7157 non-null   int64
 2   Year                    7157 non-null   int64
 3   Month                   7157 non-null   object
 4   Day                     7157 non-null   int64
 5   Time                    7157 non-null   object
 6   ItemCode                7157 non-null   int64
 7   ItemDescription         7142 non-null   object
 8   NumberOfItemsPurchased  7157 non-null   int64
 9   CostPerItem             7157 non-null   float64
 10  SellingPricePerItem     7157 non-null   float64
 11  Country                 7157 non-null   object
 12  ClientKeywords          7157 non-null   object
 13  CostPerTransaction      7157 non-null   float64
dtypes: float64(3), int64(6), object(5)
memory usage: 782.9+ KB

In [ ]:
data['SalesPertransaction']= data['SellingPricePerItem']*data['NumberOfItemsPurchased']

In [ ]:
data['ProfitPerTransaction'] = data['SalesPertransaction']-data['CostPerTransaction']

In [ ]:
data['Markup'] = (data['SalesPertransaction']-data['CostPerTransaction'])/data['CostPerTransaction']

In [ ]:
#round values in a col

data['Markup'] = round(data['Markup'], 2)

In [ ]:
#combine columns
day= data['Day'].astype(str)
year = data['Year'].astype(str)

In [ ]:
data['Date'] = day+ '-' +data['Month']+'-'+year

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UserId                  7157 non-null   int64
 1   TransactionId           7157 non-null   int64
 2   Year                    7157 non-null   int64
 3   Month                   7157 non-null   object
 4   Day                     7157 non-null   int64
 5   Time                    7157 non-null   object
 6   ItemCode                7157 non-null   int64
 7   ItemDescription         7142 non-null   object
 8   NumberOfItemsPurchased  7157 non-null   int64
 9   CostPerItem             7157 non-null   float64
 10  SellingPricePerItem     7157 non-null   float64
 11  Country                 7157 non-null   object
 12  ClientKeywords          7157 non-null   object
 13  CostPerTransaction      7157 non-null   float64
 14  SalesPertransaction     7157 non-null   float64
 15  ProfitPerTransaction    7157 non-null   float64
 16  Markup                  7123 non-null   float64
 17  Date                    7157 non-null   object
dtypes: float64(6), int64(6), object(6)
memory usage: 1006.6+ KB

In [ ]:
#using iloc to use specific cols and rows

data.iloc[0]#row with index=0

UserId                                                               278166
TransactionId                                                       6355745
Year                                                                   2019
Month                                                                   Feb
Day                                                                       2
Time                                                               12:50:00
ItemCode                                                             465549
ItemDescription                            FAMILY ALBUM WHITE PICTURE FRAME
NumberOfItemsPurchased                                                    6
CostPerItem                                                           11.73
SellingPricePerItem                                                   21.11
Country                                                      United Kingdom
ClientKeywords            ['Senior', 'Solo Entrepreneur', '2-5 Year Clie...
CostPerTransaction                                                    70.38
SalesPertransaction                                                  126.66
ProfitPerTransaction                                                  56.28
Markup                                                                  0.8
Date                                                             2-Feb-2019
Name: 0, dtype: object

In [ ]:
data.iloc[0:3]

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransaction,SalesPertransaction,ProfitPerTransaction,Markup,Date
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",70.38,126.66,56.28,0.8,2-Feb-2019
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']",10.56,11.61,1.05,0.1,26-Dec-2018
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']",64.80,116.64,51.84,0.8,15-Feb-2019

In [ ]:
data.iloc[:,3]#views specific row

0       Feb
1       Dec
2       Feb
3       Jun
4       Sep
       ...
7152    Sep
7153    Mar
7154    Jun
7155    Feb
7156    Feb
Name: Month, Length: 7157, dtype: object

In [ ]:
split_col = data['ClientKeywords'].str.split(',',expand=True)
split_col

                   0                     1                    2
0          ['Senior'   'Solo Entrepreneur'   '2-5 Year Client']
1      ['Middle Age'         'Corporation'   '2-5 Year Client']
2      ['Middle Age'         'Corporation'   '2-5 Year Client']
3      ['Middle Age'      'Small Business'        'New Client']
4      ['Middle Age'   'Solo Entrepreneur'   '2-5 Year Client']
...              ...                   ...                  ...
7152   ['Middle Age'   'Solo Entrepreneur'   '2-5 Year Client']
7153  ['Young Adult'         'Corporation'   '2-5 Year Client']
7154        ['Adult'         'Corporation'   '2-5 Year Client']
7155   ['Middle Age'      'Small Business'        'New Client']
7156   ['Middle Age'         'Corporation'                  '2-

[7157 rows x 3 columns]

In [ ]:
data['ClientAge']=split_col[0]
data['ClientType']=split_col[1]
data['LengthofContract']=split_col[2]

In [ ]:
data['ClientAge']

0            ['Senior'
1        ['Middle Age'
2        ['Middle Age'
3        ['Middle Age'
4        ['Middle Age'
             ...
7152     ['Middle Age'
7153    ['Young Adult'
7154          ['Adult'
7155     ['Middle Age'
7156     ['Middle Age'
Name: ClientAge, Length: 7157, dtype: object

In [ ]:
#use replace function

data['ClientAge'] = data['ClientAge'].str.replace('[','')
data['ClientAge']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

0            'Senior'
1        'Middle Age'
2        'Middle Age'
3        'Middle Age'
4        'Middle Age'
            ...
7152     'Middle Age'
7153    'Young Adult'
7154          'Adult'
7155     'Middle Age'
7156     'Middle Age'
Name: ClientAge, Length: 7157, dtype: object

In [ ]:
data['LengthofContract'] = data['LengthofContract'].str.replace(']','')
data['LengthofContract']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0        '2-5 Year Client'
1        '2-5 Year Client'
2        '2-5 Year Client'
3             'New Client'
4        '2-5 Year Client'
               ...
7152     '2-5 Year Client'
7153     '2-5 Year Client'
7154     '2-5 Year Client'
7155          'New Client'
7156                   '2-
Name: LengthofContract, Length: 7157, dtype: object

In [ ]:
data['ItemDescription'] =data['ItemDescription'].str.lower()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UserId                  7157 non-null   int64
 1   TransactionId           7157 non-null   int64
 2   Year                    7157 non-null   int64
 3   Month                   7157 non-null   object
 4   Day                     7157 non-null   int64
 5   Time                    7157 non-null   object
 6   ItemCode                7157 non-null   int64
 7   ItemDescription         7142 non-null   object
 8   NumberOfItemsPurchased  7157 non-null   int64
 9   CostPerItem             7157 non-null   float64
 10  SellingPricePerItem     7157 non-null   float64
 11  Country                 7157 non-null   object
 12  ClientKeywords          7157 non-null   object
 13  CostPerTransaction      7157 non-null   float64
 14  SalesPertransaction     7157 non-null   float64
 15  ProfitPerTransaction    7157 non-null   float64
 16  Markup                  7123 non-null   float64
 17  Date                    7157 non-null   object
 18  ClientAge               7157 non-null   object
 19  ClientType              7157 non-null   object
 20  LengthofContract        7157 non-null   object
dtypes: float64(6), int64(6), object(9)
memory usage: 1.1+ MB

In [ ]:
data['Month']

0       Feb
1       Dec
2       Feb
3       Jun
4       Sep
       ...
7152    Sep
7153    Mar
7154    Jun
7155    Feb
7156    Feb
Name: Month, Length: 7157, dtype: object

In [ ]:
seasons = pd.read_csv('/content/Data/value_inc_seasons.csv',sep = ';')
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   12 non-null     object
 1   Season  12 non-null     object
dtypes: object(2)
memory usage: 320.0+ bytes

In [ ]:
data = pd.merge(data,seasons,on = 'Month')
data

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,...,ClientKeywords,CostPerTransaction,SalesPertransaction,ProfitPerTransaction,Markup,Date,ClientAge,ClientType,LengthofContract,Season
0,278166,6355745,2019,Feb,2,12:50:00,465549,family album white picture frame,6,11.73,...,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",70.38,126.66,56.28,0.8,2-Feb-2019,'Senior','Solo Entrepreneur','2-5 Year Client',Mid
1,267099,6385599,2019,Feb,15,09:45:00,490728,set 12 colour pencils dolly girl,72,0.90,...,"['Middle Age', 'Corporation', '2-5 Year Client']",64.80,116.64,51.84,0.8,15-Feb-2019,'Middle Age','Corporation','2-5 Year Client',Mid
2,328440,6387425,2019,Feb,16,10:35:00,494802,set of 6 ribbons perfectly pretty,36,3.99,...,"['Adult', 'Small Business', 'New Client']",143.64,201.24,57.60,0.4,16-Feb-2019,'Adult','Small Business','New Client',Mid
3,364791,6358242,2019,Feb,3,09:25:00,486276,set of 5 mini grocery magnets,3,2.88,...,"['Young Adult', 'Small Business', 'Loyal Client']",8.64,11.22,2.58,0.3,3-Feb-2019,'Young Adult','Small Business','Loyal Client',Mid
4,-1,6388019,2019,Feb,16,13:24:00,490329,roll wrap vintage christmas,30,3.40,...,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ...",102.00,132.60,30.60,0.3,16-Feb-2019,'Middle Age','Solo Entrepreneur','2-5 Year Client',Mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7152,304605,6014514,2018,May,28,11:45:00,484092,recycled acapulco mat turquoise,3,11.39,...,"['Young Adult', 'Small Business', 'Loyal Client']",34.17,44.43,10.26,0.3,28-May-2018,'Young Adult','Small Business','Loyal Client',Low
7153,266994,5987905,2018,May,2,06:53:00,462609,spaceboy birthday card,36,0.58,...,"['Young Adult', 'Small Business', 'Loyal Client']",20.88,29.16,8.28,0.4,2-May-2018,'Young Adult','Small Business','Loyal Client',Low
7154,331149,6014679,2018,May,29,06:17:00,434931,jumbo bag toys,1800,2.28,...,"['Middle Age', 'Small Business', 'Loyal Client']",4104.00,5328.00,1224.00,0.3,29-May-2018,'Middle Age','Small Business','Loyal Client',Low
7155,371133,6016461,2018,May,30,07:30:00,460278,set 12 kids colour chalk sticks,27,0.58,...,"['Young Adult', 'Solo Entrepreneur', 'New Clie...",15.66,21.87,6.21,0.4,30-May-2018,'Young Adult','Solo Entrepreneur','New Client',Low
7156,289107,5999884,2018,May,14,12:24:00,477309,alarm clock bakelike orange,-3,5.18,...,"['Adult', 'Small Business', 'New Client']",-15.54,-20.19,-4.65,0.3,14-May-2018,'Adult','Small Business','New Client',Low

In [ ]:
#dropping columns
#df= df.(drop['col_name'],axis=1)
data = data.drop(['ClientKeywords'], axis = 1)
data = data.drop(['Day'], axis = 1)
data = data.drop(['Year'], axis = 1)
#data = data.drop(['Month'], axis = 1)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7157 entries, 0 to 7156
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UserId                  7157 non-null   int64
 1   TransactionId           7157 non-null   int64
 2   Time                    7157 non-null   object
 3   ItemCode                7157 non-null   int64
 4   ItemDescription         7142 non-null   object
 5   NumberOfItemsPurchased  7157 non-null   int64
 6   CostPerItem             7157 non-null   float64
 7   SellingPricePerItem     7157 non-null   float64
 8   Country                 7157 non-null   object
 9   CostPerTransaction      7157 non-null   float64
 10  SalesPertransaction     7157 non-null   float64
 11  ProfitPerTransaction    7157 non-null   float64
 12  Markup                  7123 non-null   float64
 13  Date                    7157 non-null   object
 14  ClientAge               7157 non-null   object
 15  ClientType              7157 non-null   object
 16  LengthofContract        7157 non-null   object
 17  Season                  7157 non-null   object
dtypes: float64(6), int64(4), object(8)
memory usage: 1.0+ MB